body {
    margin: 0;
    padding-left: 86px;
    padding-right: 86px;
    font-family: "Roboto Slab", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #594a47;
}

.header_logo {
    display: flex;
    justify-content: left;
}